:root {
    --green-dark: #066047;
    --green-regular: #599584;
    --green-light: #CDDFDA;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--green-light)!important;
}

.image-menu {
    border-radius: 15%;
}

.fw-semibold {
    font-weight: 600;
}

.modal-dialog {
    max-width: 550px;
}

.btn-range {
    border-width: 3.5px!important;
    border-radius: 30px!important;
    padding: 3% 4%!important;
}

.bg-decor {
    background-color: var(--green-dark);
}

.main-content {
    margin-top: -400px;
}

.btn-green {
    background-color: var(--green-light)!important;
    font-family: 'Besley', serif!important;
    color: var(--green-dark)!important;
}

.btn-green.active {
    background-color: white!important;
}

.text-desc {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.title-menu {
    font-family: 'Besley', serif;
    font-weight: 500;
}

.text-green-regular {
    color: var(--green-regular);
}

.shadows {
    box-shadow: 0px 4px 4px 0px #00000008!important;
}

.bg-back-white {
    background-color: #F8F8F8!important;
}