@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.image-menu {
    border-radius: 15%;
}

.fw-semibold {
    font-weight: 600;
}

.modal-dialog {
    max-width: 550px;
}

.btn-range {
    border-width: 3.5px;
    border-radius: 30px;
    padding: 3% 4%;
}